.wrapper { 
grid-column: 7 / span 4;
}

.image { 
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important
   }

   @media all and (max-width: 990px ) { 
    .wrapper { 
      grid-column: 1 / span 10;
    }
   }