.wrapper { 
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 30px;
}

.socialNavItemList { 
  margin-top: 40px;
}

.mainNavItemList { 
height: auto;
}

.mainNavItem { 
  cursor: pointer;
  transition: color var(--short-transition);
}

.socialNavItem { 
  transition: color var(--short-transition);
}

.mainNavItem:hover, .socialNavItem:hover { 
  color: var(--accent-color);
}

.mainNavItem:hover + .submenu {
  opacity: 1; 
}

@media all and (max-width: 768px ) { 
  .wrapper { 
    display: none;
  }
}