.projectList { 
  grid-column: 2 / span 2;
  position: sticky;
  height: 20%;
  top: 180px;
}

.projectContent { 
  grid-column: 4 / span 3;
  margin-right: 30px;
  max-width: 500px;
}

.projectContentInner { 
  position: sticky;
  width: 100%;
  top: 180px;
}

.subNavItem { 
  cursor: pointer;
}

.clientOrigin { 
  vertical-align: super;
  font-size: 70%;
}

.projectDisciplines { 
  margin-top: 16px;
}

.projectDisciplineItem {
  font-size: 16px;
  display: inline-block;
  border: 1.5px solid var(--color);
  padding: 2px 8px 2px 8px;
  border-radius: 25px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.projectImages { 
  grid-column: 7 / span 4; 
  margin-bottom: 60px;
}

.projectImage { 
  width: 100%;
  border: 1px solid var(--color);
  margin-bottom: 40px;
  position: relative;
}

.imageContainer { 
  width: 100%
}

.imageContainer + span { 
  position: relative !important;
}

.imageContainer div {
    position: unset !important;
}

.projectImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important
 }


.projectArrow { 
  margin-left: 2px;
}
  

.extraCredit { 
  margin-top: 20px;
}

@media all and (max-width: 750px) { 
  .projectList { 
    grid-column: 1 / span 10;
    position: relative;
    top: 0;
  }
.projectContent { 
  grid-column: 1 / span 10;
  margin: 30px 0px 60px 0px;
}

.projectImages { 
  display: none;
}
}